body {
  background: #f4e5b6;
  font-family: "Source Sans Pro", sans-serif;
}

.main {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  width: 50vw;
  color: black;
  background-color: white;
}

.main p,
.main h1 {
  vertical-align: top;
  text-align: center;
}

.al {
  position: relative;
  margin: 20px auto;
  padding: 10px;
  outline: 3px solid #00c015;
  background-color: #00610b;
  color: white;
}

.al a {
  text-decoration: underline;
  color: #26b800;
}

.al a:visited {
  color: #288a4d;
}

.al p {
  font-family: "MS PGothic", sans-serif;
  font-size: 16px;
}

.al h1 {
  font-family: "MS Gothic", sans-serif;
  font-size: 32px;
}

.al p,
.al h1 {
  color: white;
}

.image-container {
  text-align: center;
}

.image-container img {
  padding: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-buttons {
  display: flex;
  justify-content: center;
  font-family: "MS Gothic", sans-serif;
}

.header-buttons p {
  margin: 0;
  margin-top: -8px;
  padding: 8px;
  outline: 2px solid #637179;
  border-radius: 0;
}

.header-buttons p:first-child {
  border-radius: 0 0 0px 12.5px;
}

.header-buttons p:last-child {
  border-radius: 0 0 12.5px 0px;
}

.header-buttons a {
  color: #26b800;
  text-decoration: underline;
}

.header-buttons a:visited {
  color: #288a4d;
  text-decoration: underline;
}