@font-face {
    font-family: 'Webdings';
    src: url('fonts/webdings.woff2');
    src: local('Webdings'), 
         url('fonts/webdings.woff2') format('woff2'),
}

@font-face {
    font-family: 'Wingdings';
    src: url('fonts/wingdings.woff2');
    src: local('Wingdings'), 
         url('fonts/wingdings.woff2') format('woff2'),
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#test {
	font-size: 6rem;
	font-family: "Wingdings";
}

#symbolDisplay {
    font-size: 50rem;
    font-family: "Wingdings";
}