@font-face {
    font-family: 'Adventurer';
    src: url('fonts/Adventurer.woff2') format('woff2');
}

@font-face {
    font-family: 'Squirrel';
    src: url('fonts/Squirrel.woff2') format('woff2');
}

@font-face {
    font-family: 'MicroStyle';
    src: url('fonts/MicroStyle.woff2') format('woff2');
}

@font-face {
    font-family: 'TheWall';
    src: url('fonts/TheWall.woff2') format('woff2');
}

@font-face {
    font-family: 'PixelTimesNewRoman';
    src: url('fonts/PixelTimesNewRoman.woff2') format('woff2');
}

@font-face {
    font-family: 'YumeNikki';
    src: url('fonts/YumeNikkiTitleScreen.woff2') format('woff2');
}

@font-face {
    font-family: 'iso_';
    src: url('fonts/iso8.woff2') format('woff2');
}

@font-face {
    font-family: 'BerrticeonStd';
    src: url('fonts/BerrticeonStd.woff2') format('woff2');
}

@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.woff2') format('woff2');
}

@font-face {
    font-family: 'wingdings';
    src: url('fonts/wingdings.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Regular';
    src: url('fonts/EB Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Battle';
    src: url('fonts/EB Battle.woff2') format('woff2');
}

body {
	background-color: #dddddd;
}

.main-content {
	position: relative;
	border-radius: 25px;
	background-color: #ececec;
	padding: 15px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%;
}

.top-elements {
	position: absolute;
	display: block;
	top: 20px;
	width: 96.5%;
	height: 186px;
}

.game-title {
	display: inline-block;
	width: 35.5%;
	font-family: 'iso_', sans-serif;
	text-align: left;
	margin-left: 5%;
    font-size: 64px;
}

.game-icon {
	display: inline-block;
	float: right;
	font-family: 'webdings', sans-serif;
	text-align: center;
	margin-right: 15%;
	font-size: 186px;
}

.body-text {
	padding: 4px;
	}

.text1 {
    font-family: 'EB Regular', sans-serif;
	text-align: center;
	font-size: 24px;
}

.text2 {
    font-family: 'Adventurer', sans-serif;
	text-align: center;
	font-size: 32px;
}

.text3 {
    font-family: 'PixelTimesNewRoman', sans-serif;
	text-align: center;
	font-size: 32px;
}

.text4 {
    font-family: 'MicroStyle', sans-serif;
	text-align: center;
	font-size: 32px;
}

.header {
    font-family: 'EB Battle', sans-serif;
	text-align: center;
	font-size: 27px;
}

.music-container {
	display: block;
	width: 50%;
	margin-left: 25%;
}

.song-titles {
	font-family: 'MicroStyle', sans-serif;
	text-align: center;
	font-size: 32px;
}

.footer {
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: -48px;
	text-align: center;
	font-family: 'EB Battle', sans-serif;
	font-size: 18px;
	text-decoration: none;
}
	
a:active {
		color: #666666;
}

a:visited {
		color: #666666;
}

#music {
	margin-left: 12.5%;
}