@font-face {
    font-family: 'Squirrel';
    src: url('fonts/Squirrel.woff2') format('woff2');
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.woff2') format('woff2');
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas-Bold.woff2') format('woff2');
	font-weight: bold;
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas-Italic.woff2') format('woff2');
	font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

body {
	background-color: #dddddd;
}

.main-content {
	position: relative;
	border-radius: 25px;
	background-color: #ececec;
	padding: 15px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%;
}

.body-text {
	padding: 4px;
	}

.text1 {
    font-family: 'Squirrel', sans-serif;
	text-align: center;
	font-size: 32px;
}

.text2 {
    font-family: 'Consolas', sans-serif;
	text-align: center;
	font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}